* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Personalización de la barra de desplazamiento */
::-webkit-scrollbar {
  height: 6px; /* Altura de la barra horizontal (más fina) */
  width: 3px; /* Ancho de la barra vertical */
}

::-webkit-scrollbar-track {
  background: #1c1f28; /* Color del fondo de la barra */
}

::-webkit-scrollbar-thumb {
  background: #4a4f5c; /* Color de la barra de desplazamiento */
  border-radius: 1px; /* Bordes redondeados */
}

::-webkit-scrollbar-thumb:hover {
  background: #5a5f6c; /* Color al pasar el cursor */
}

html,
body {
  background-color: #1c1f28;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
