* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  height: 6px;
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #1c1f28;
}

::-webkit-scrollbar-thumb {
  background: #4a4f5c;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5a5f6c;
}

html,
body {
  background-color: #1c1f28;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
